body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

#status {
    margin-top: 20px;
    font-weight: bold;
}

#archiveList {
    list-style-type: none;
    padding: 0;
}

#archiveList li {
    margin: 5px 0;
}

#archiveSelect {
    margin: 10px 0;
    padding: 5px;
    font-size: 16px;
}

#archivePlayer {
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
}

#archive-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px; /* Add some space above the button */
}

#archive-button:hover {
    background-color: #45a049; /* Darker green on hover */
}